body{
  font-family: "Roboto", serif;
}

header{
  background-image: url(./img/wall.png);
  height: 100px;
}

.head{  
  font-style: italic;
  font-size: 3rem;
  text-align: center;
  align-self: center;
}

main{
  background-image: url(./img/cork.png);
  object-fit: cover;
}



.mycard{
  background-color: white;
  font-weight: bold; 
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  width: 400px;
  height: auto;
  padding: 10px;
  margin: 5px;
}

/* .mytext{
  background-color: white;  
} */

.mypic img{  
  width: 100%;
  padding: 10px;
  height: auto;  
  object-fit: cover; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}