body{
  font-family: "Roboto", serif;
  background-image: url(./img/cork.png);
}

header{
  background-image: url(./img/wall.png);
  height: 100px;
}

.head{  
  font-style: italic;
  font-size: 5rem;
  text-align: center;
  align-self: center;
  font-weight: bold;
}

/* main{
  background-image: url(./img/cork.png);
  object-fit: cover;
} */



.mycard{
  position: relative;
  background-color: white;
  font-weight: bold; 
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  width: 400px;
  height: auto;
  padding: 5px;
  margin: 50 5 5 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .mytext{
  background-color: white;  
} */

/* .mypic{
  position: relative;
} */

.mypic img{  
  width: 100%;
  padding: 10px;
  height: auto;  
  object-fit: cover;    
}

.mypic span img{
  width: 50px;
  position: absolute;
  top: -10;
  left: 170;    
}

.mytext{
  margin-top: 10px;
  font-style: italic;
  text-transform: capitalize;
}